# dependencies (bun install)
spec.md
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# local environment configuration (keep templates)
.env
.env.*
!.env.example

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
data/
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite-journal
deploy/*.env
