AUTH_ORIGIN=https://auth.hollyweb.actor
AUTH_CLIENTS={"bracket":["https://bracket.hollyweb.actor/auth/callback"],"hollydraft":["https://hollydraft.hollyweb.actor/auth/callback"]}
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
