app = 'hollyweb-podcast-server'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 1323
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  path = "/"
  timeout = "5s"

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
